:root {
    /* Colours */
    --color-text: #fff;
    --color-primary: #d84aa2;
    --color-secondary: #b6287b;
    --color-dark: #6b0047;
    --color-bg: #941a61;
  
    /* Fonts */
    --font-roboto: "Roboto";
  }